*{
    margin:0px;
        padding:0px;
}
.main{
    margin:100px;
        
    
}
.one{
    border :2px solid red;
    height:200px;
     float:left;
}
.two{
     border :2px solid green;
    height:200px;
     float:left;
}
.three{
     border :2px solid blue;
    height:200px;
     float:left;
}